:root {
  --theme-color: #e40000;
  --primary-color: #4867b0;
  --primary-light: #ffc945;
  --secondary-color: #ff6e65;
  --primary-dark: #00070c;
  --font-color: #b7b7b7;
  --bg-color: #161c2d;
  --bg-color-2: transparent;
  --heading-color: #fdfffc;
  --footer-color: #0e0e0e;
  --footer-cpy-color: #060606;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.2);
  --iframe-filter: grayscale(100%);
  --bg-grey: #060e1f;
  --bg-light: #121725;
  --bg-dark-color: #27282b;
  --quote-text-color: #e6e6e6;
  --paceholder-color-search: #eee;
  --bg-color-li: rgb(168 176 195 / 11%);
  --box-shadow-color: hsla(222, 34%, 17%, 1);
  --logo-color: #fff;
}
html,
body {
  background: var(--bg-color);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

/* START FOOTER */
footer {
  background: #060e1f;
}
.footer__top {
  max-width: 1000px;
  background: var(--bg-color);
  padding: 50px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
.footer__top .top__left h2 {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 8px;
}
.footer__top .top__left p {
  font-size: 0.94rem;
  color: #b7b7b7;
}
.footer__top .top__right {
  width: 50%;
  flex-shrink: 0;
}
.footer__top .top__right .form-group input {
  background: transparent;
  border-radius: 8px 0 0 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px 20px;
  color: #fdfffc;
}
.footer__top .top__right .form-group button {
  background: #4867b0;
  border-radius: 0 8px 8px 0;
  border: none;
  padding: 16px 30px;
  font-weight: 600;
}
