/* START GLOBAL */
html,
body {
  background: #161c2d;
  font-size: 16px;
  color: #b7b7b7;
}
body.light {
  background: #fff;
  color: #707070;
}
body a {
  cursor: pointer !important;
}
*,
ul,
h2,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #b7b7b7;
  letter-spacing: 0.4px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #fdfffc;
  font-family: "Montserrat", sans-serif;
}
/* END GLOBAL */

/* START LIGHT/DARK SWITCH */
#switchTheme {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 15px 20px;
  background: #fff;
  color: #000;
  font-weight: 700;
  box-shadow: none;
  border: 1px solid #fff;
  z-index: 9;
}
.light #switchTheme {
  background: #000;
  color: #fff;
  border: 1px solid #000;
}
#switchTheme span:first-child {
  color: #000;
  display: block;
}
.light #switchTheme span:first-child {
  display: none;
}
#switchTheme span:last-child {
  display: none;
}
.light #switchTheme span:last-child {
  display: block;
}
/* END LIGHT/DARK SWITCH */

/* START COURSE */
.Course_grids_blocks_5 {
  background: #121725;
}
.Course_title_heading {
  max-width: 700px;
}
h3.title_main {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}
h3.title_main span {
  color: #ff6e65;
}
h3.title_main::before {
  left: -20px;
  bottom: -8px;
}
h3.title_main::after {
  left: 20px;
  bottom: -15px;
}
h3.title_main::before,
h3.title_main::after {
  content: "";
  background: #b7b7b7;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.Course_grids_blocks_5 .grid_anh img {
  display: block;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.meta_list {
  position: absolute;
  left: 30px;
  top: 15px;
}
.meta_list a:nth-child(odd) {
  background-color: #ffa100;
}
.meta_list a:nth-child(3) {
  background: #037ef3;
}
.meta_list a {
  background: #1dc295;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  color: #ffffff !important;
  text-transform: capitalize;
  margin-right: 5px;
  text-decoration: none;
}
.course_price {
  position: absolute;
  right: 25px;
  bottom: -22px;
}
.course_price h6 {
  display: flex;
  border-radius: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #ff6e65;
  color: #ffffff;
  box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
  min-width: 70px;
  min-height: 70px;
  align-items: center;
  justify-content: center;
}
.Course_grids_blocks_5 .Course_content-main {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: transparent;
}
.Course_list {
  padding-left: 0;
  list-style: none;
}
.Course_content_top li {
  color: #fdfffc;
}
.Course_content_top li i {
  color: #ff6e65;
}
.Course_grids_blocks_5 .Course_content-main h4 a {
  color: #fdfffc;
  font-size: 22px;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}
.Course_grids_blocks_5 .Course_content-main h4 a:hover {
  color: #ff6e65;
  text-decoration: none;
}
.Course_grids_blocks_5 .Course_content-main p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #b7b7b7;
  letter-spacing: 0.4px;
}
.top_content_boder {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
ul.rating_list li {
  display: inline-block;
}
ul.rating_list li a {
  color: #ffc949;
  font-size: 12px;
}
.btn-style-primary {
  color: #ff6e65;
  padding: 0;
  background: transparent;
  font-size: 14px;
  transition: 0.25s;
}
.btn-style {
  /* padding: 14px 30px; */
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  transition: 0.25s;
  /* padding-bottom: 1em; */
}
.btn-style-2 {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  transition: 0.25s;
  padding-bottom: 1em;
}
.btn-style-primary:hover {
  color: #4867b0;
}
.btn-style-secondary {
  background: #ff6e65;
  color: #fff;
  transition: 0.3s ease-out;
}
.btn-style-secondary:hover {
  background: #4867b0;
  color: #fff;
  transition: 0.3s ease-out;
}
/* start light course */
.light .Course_grids_blocks_5 {
  background: #f8f9ff;
}
.light h3.title_main {
  color: #060606;
}
.light h3.title_main::after {
  background: #707070;
}
.light h3.title_main::before {
  background: #707070;
}
.light .Course_grids_blocks_5 .Course_content-main {
  padding: 20px;
  border: 1px solid #eee;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #fff;
}
.light .Course_grids_blocks_5 .Course_content-main p {
  color: #707070;
}
.light .Course_grids_blocks_5 .Course_content-main li {
  color: #060606;
}
.light .Course_grids_blocks_5 .Course_content-main h4 a {
  color: #060606;
}
.light .Course_grids_blocks_5 .Course_content-main h4 a:hover {
  color: #ff6e65;
  text-decoration: none;
}
.light .Course_grids_blocks_5 .blog_card {
  transition: 0.5s;
}
.light .Course_grids_blocks_5 .blog_card:hover {
  box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
}
.light .top_content_boder {
  border-top: 1px solid #eee;
}
.light .btn-style-secondary:hover {
  background: #0d369f;
  color: #fff;
  transition: 0.3s ease-out;
}
/* end light course */
/* END COURSE */

/* START FEATURE/HOME-BLOCK */
.HomeBlock1 .Services-ab {
  background: url(../image/bg3.jpg) no-repeat bottom;
  background-size: cover;
  -webkit-background-size: cover;
}
.HomeBlock1 .feature_gd {
  background: #161c2d;
  padding: 30px;
  border-radius: 8px;
}
.HomeBlock1 .icon {
  margin-right: 1em;
}
.HomeBlock1 .icon i {
  background: #4867b0;
  color: #4867b0;
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
}
.HomeBlock1 .fea_gd_vv h5 {
  font-size: 20px;
  line-height: 30px;
  color: #fdfffc;
  font-weight: 600;
  margin-bottom: 6px;
}
/* start light feature/home-block */
.light .HomeBlock1 .feature_gd {
  background: #fff;
}
.light .HomeBlock1 .fea_gd_vv h5 {
  color: #060606;
}
.light .HomeBlock1 .fea_gd_vv p {
  color: #707070;
}
.light .HomeBlock1 .icon i {
  color: #0d369f;
  background: rgb(13 54 159 / 9%);
}
/* end light feature/home-block */
/* END FEATURE/HOME-BLOCK */

/* START ARCHIVEMENT */
.title_heading {
  max-width: 700px;
}
.counter {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.timer {
  font-size: 46px;
  font-weight: 600;
  color: #fdfffc;
}
p.count-text {
  color: #fdfffc;
}
/* start light archivement */
.light .Number_stats .title_heading p {
  color: #707070;
}
.light .timer {
  color: #060606;
}
.light p.count-text {
  color: #060606;
}
.light .counter {
  border-right: 1px solid #eee;
}
/* end light archivement */
/* END ARCHIVEMENT */

/* START FEEDBACK */
/* start feedback top */
.feedback__top {
  max-width: 700px;
}
.feedback__top h2 {
  position: relative;
  color: #fdfffc;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 3.13rem;
  font-weight: 600;
}
.light .feedback__top h2 {
  color: #060606;
}
.feedback__top h2::before,
.feedback__top h2::after {
  content: "";
  display: block;
  background: #b7b7b7;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.light .feedback__top h2::before,
.light .feedback__top h2::after {
  background: #707070;
}
.feedback__top h2::before {
  bottom: -8px;
  left: -20px;
}
.feedback__top h2::after {
  bottom: -15px;
  left: 20px;
}
.feedback__top h2 span {
  color: #ff6565;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
/* end feedback top */

/* start feedback bottom */
.feedback__bottom .feedback__item .card {
  background: #161c2d;
  box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1);
  border-radius: 4px;
  border: none;
}
.light .feedback__bottom .feedback__item .card {
  background: #fff;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
}
.feedback__bottom .feedback__item .card .card-body {
  padding: 2rem;
}
.feedback__bottom .feedback__item .card-body .feedback__comment q {
  line-height: 28px;
  letter-spacing: 0.4px;
}
.feedback__bottom .feedback__item .card-body .feedback__comment q::before {
  display: inline-block;
  font-family: initial;
  font-size: 3.13rem;
  line-height: 0.8;
  color: #ff6565;
  padding-top: 8px;
}
.feedback__bottom
  .feedback__item
  .card-body
  .feedback__student
  .student__image {
  width: 23.5%;
  margin-right: 5px;
  flex-shrink: 0;
}
.feedback__bottom
  .feedback__item
  .card-body
  .feedback__student
  .student__image
  img {
  border-radius: 50%;
  max-width: 100%;
}
.feedback__bottom
  .feedback__item
  .card-body
  .feedback__student
  .student__detail
  p:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fdfffc;
}
.light
  .feedback__bottom
  .feedback__item
  .card-body
  .feedback__student
  .student__detail
  p:first-child {
  color: #060606;
}
.feedback__bottom
  .feedback__item
  .card-body
  .feedback__student
  .student__detail
  p:last-child {
  font-size: 0.81rem;
}
/* end feedback bottom */
/* END FEEDBACK */

/* START INSTRUCTOR */
/* start instructor top */
.instructor__top {
  max-width: 700px;
}
.instructor__top h2 {
  position: relative;
  color: #fdfffc;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.13rem;
}
.light .instructor__top h2 {
  color: #060606;
}
.instructor__top h2::before,
.instructor__top h2::after {
  content: "";
  display: block;
  background: #b7b7b7;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.light .instructor__top h2::before,
.light .instructor__top h2::after {
  background: #707070;
}
.instructor__top h2::before {
  bottom: -8px;
  left: -20px;
}
.instructor__top h2::after {
  bottom: -15px;
  left: 20px;
}
.instructor__top h2 span {
  color: #ff6565;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
/* end instructor top */

/* start instructor bottom */
.instructor__team .card {
  background: transparent;
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1);
}
.light .instructor__team .card {
  background: #fff;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
}
.instructor__team .team__image {
  position: relative;
  overflow: hidden;
}
.instructor__team .team__image img {
  border-radius: 8px 8px 0 0;
}
.instructor__team .team__image .team__info {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgb(8 8 8 / 29%);
  padding: 20px 0;
  transform: translateY(100%);
  transition: 0.5s;
}
.instructor__team .card:hover .team__image .team__info {
  transform: translateY(0);
}
.instructor__team .team__image .team__info a {
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  color: #4867b0;
  font-size: 0.88rem;
  transition: 0.5s;
}
.light .instructor__team .team__image .team__info a {
  color: #0d369f;
}
.instructor__team .team__image .team__info a:hover {
  opacity: 0.8;
}
.instructor__team .card .card-body a {
  display: block;
  color: #fdfffc;
  line-height: 1.75rem;
  transition: 0.5s;
}
.light .instructor__team .card .card-body a {
  color: #060606;
}
.instructor__team .card:hover .card-body a {
  color: #ff6565;
  text-decoration: none;
}
/* end instructor bottom */
/* END INSTRUCTOR */

/* START CONTACT */
.contact .contact__right h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.19rem;
  font-weight: 600;
  line-height: 2.81rem;
  color: #fdfffc;
}
.light .contact .contact__right h2 {
  color: #060606;
}
.contact .contact__right p {
  line-height: 1.75rem;
}
.contact .contact__right button {
  background: #ff6e65;
  border-radius: 4px;
  border: none;
  margin-top: 2.5rem;
  padding: 14px 30px;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-out;
}
.contact .contact__right button:hover {
  background: #4867b0;
}
.light .contact .contact__right button:hover {
  background: #0d369f;
}
.contact .contact__right button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgb(46 202 139 / 25%);
}
/* END CONTACT */

/* START FOOTER */
/* start footer top */
.footer__top {
  max-width: 1000px;
  background: #161c2d;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
}
.light .footer__top {
  background: #fff;
}
.footer__top .top__left h2 {
  color: #fdfffc;
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.light .footer__top .top__left h2 {
  color: #060606;
}
.footer__top .top__left p {
  font-size: 0.94rem;
  letter-spacing: 1px;
  line-height: 1.75rem;
}
.footer__top .top__right .form-group input {
  background: transparent;
  border-radius: 8px 0 0 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 20px;
  height: initial;
  color: #fdfffc;
}
.light .footer__top .top__right .form-group input {
  color: #060606;
  border: 1px solid #eee;
}
.footer__top .top__right .form-group .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(46 202 139 / 25%);
}
.footer__top .top__right .form-group button {
  background: #4867b0;
  border-radius: 0 8px 8px 0;
  border: none;
  padding: 16px 30px;
  font-weight: 600;
  transition: 0.5s;
}
.light .footer__top .top__right .form-group button {
  background: #0d369f;
}
.footer__top .top__right .form-group button:hover {
  opacity: 0.9;
}
/* end footer top */

/* start footer body */
.footer__body {
  padding: 80px 0;
  background: #060e1f;
}
.footer__body .row {
  margin-top: 120px;
}
.footer__body .row .footer__item h3 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
.footer__body .row .footer__item ul li {
  margin-bottom: 10px;
}
.footer__body .row .footer__item ul li a {
  position: relative;
  line-height: 1.5rem;
  color: #cecece;
  font-size: 0.88rem;
  transition: 0.5s;
}
.footer__body .row .footer__item ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.footer__body .row .footer__item ul li a i {
  position: relative;
  top: -1.4px;
  font-size: 0.65rem;
  margin-right: 0.5rem;
  color: #fff;
}
.footer__body .row .footer__item3 ul li:nth-child(2) {
  padding: 10px 0;
}
.footer__body .row .footer__item3 ul li i {
  width: 1.56rem;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  font-size: 0.95rem;
  vertical-align: middle;
}
.footer__body .row .footer__item3 ul li:first-child a,
.footer__body .row .footer__item3 ul li:nth-child(2) a {
  font-size: 0.94rem;
}
.footer__body .row .footer__item4 {
  border-left: 1px solid rgb(64 73 82 / 51%);
}
.footer__body .row .footer__item4 p {
  color: #cecece;
  font-size: 0.87rem;
  line-height: 1.5rem;
}
.footer__body .row .footer__item4 .item__socialmedia {
  margin-top: 1.2em;
}
.footer__body .row .footer__item4 .item__socialmedia a i {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 50%;
  margin-right: 5px;
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
  line-height: 2.2rem;
  font-size: 0.94rem;
  color: #fff;
  transition: 0.3s ease;
}
.footer__body .row .footer__item4 .item__socialmedia a:hover i {
  opacity: 0.8;
}
/* end footer body */

/* start footer bottom */
.footer__bottom {
  background: #040a17;
  padding: 20px 0;
  text-align: center;
}
.footer__bottom p {
  font-size: 0.94rem;
  line-height: 1.25rem;
  color: #a0a0a0;
}
/* end footer bottom */
/* END FOOTER */

/* START BACK TO TOP */
.backtotop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  background: #4867b0;
  border-radius: 4px;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  transition: 0.5s;
  display: none;
}
.light .backtotop {
  background: #0d369f;
}
.backtotop:hover {
  opacity: 0.8;
  color: #fff;
}
.cd-top--is-visible {
  display: block;
}
/* END BACK TO TOP */

/* START RESPONSIVE */
@media screen and (max-width: 1199.98px) {
  /* start feedback */
  .feedback__bottom
    .feedback__item
    .card-body
    .feedback__student
    .student__image {
    width: 33.33%;
    /* end feedback */
  }
}
@media screen and (max-width: 991.98px) {
  /* start archivement */
  .counter {
    border-right: none;
  }
  .timer {
    font-size: 35px;
  }
  p.count-text {
    font-size: 15px;
  }
  .light .counter {
    border-right: none;
  }
  /* end archivement */

  /* start footer */
  .footer__top {
    margin: 0 2em;
  }
  .footer__body .row .footer__item4 {
    border-left: none;
  }
  .footer__body .row .footer__item3 ul li:nth-of-type(2) {
    padding: 6px 0;
  }
  /* end footer */
}
@media screen and (max-width: 767.98px) {
  /* start feedback */
  .feedback__bottom
    .feedback__item
    .card-body
    .feedback__student
    .student__image {
    width: 16.68%;
  }
  /* end feedback */

  /* start footer */
  .footer__top {
    margin: 0 1em;
    top: -78px;
  }
  .footer__top .top__right .form-group button {
    width: 30%;
  }
  .footer__body {
    padding: 40px 0;
    margin-top: 2em;
  }
  .footer__body .row {
    margin-top: 150px;
  }
  .footer__body .row .footer__item h3 {
    padding-bottom: 7px;
    margin-bottom: 10px;
  }
  /* end footer */
}
@media screen and (max-width: 575.98px) {
  /* start contact */
  .contact .contact__right h2 {
    font-size: 1.88rem;
    line-height: 2.5rem;
  }
  /* end contact */

  /* start footer */
  .footer__body .row .footer__item3 ul li:last-child {
    margin-bottom: 0;
  }
  .footer__body {
    margin-top: 1em;
  }
  /* end footer */
}
@media screen and (max-width: 491px) {
  /* start feedback */
  .feedback__top h2 {
    font-size: 2.19rem;
  }
  .feedback__bottom
    .feedback__item
    .card-body
    .feedback__student
    .student__image {
    width: 23%;
  }
  /* end feedback */

  /* start instructor */
  .instructor__top h2 {
    font-size: 2.19rem;
    line-height: 2.81rem;
  }
  /* end instructor */

  /* start footer */
  .footer__top .top__left h2 {
    font-size: 1.88rem;
  }
  /* end footer */
}
@media screen and (max-width: 440px) {
  /* start instructor */
  .instructor__top h2 {
    font-size: 1.88rem;
    line-height: 2.5rem;
  }
  /* end instructor */

  /* start footer */
  .footer__top {
    padding: 40px;
  }
  .footer__top .top__left,
  .footer__top .top__right {
    padding: 0;
  }
  .footer__top .top__left h2 {
    margin-bottom: 10px;
  }
  .footer__top .top__right .form-group {
    flex-wrap: wrap;
  }
  .footer__top .top__right .form-group input {
    border-radius: 4px;
  }
  .footer__top .top__right .form-group button {
    margin-top: 1em;
    width: 100%;
    border-radius: 4px;
  }
  .footer__body .row {
    margin-top: 240px;
  }
  /* end footer */
}
/* END RESPONSIVE */
