@import url("https://fonts.googleapis.com/css2?family=Halant:wght@700&family=Nunito+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  font-family: "Nunito Sans", sans-serif;
}
.body_bg {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  transition: all 0.5s;
}

a,
ul,
p,
li,
i {
  padding: 0;
  margin: 0;
  color: white;
  transition: all 0.5s;
}
ul {
  list-style: none;
}

li{
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: none;
}

.btn-navbar {
  position: relative;
  z-index: 10;
  width: 20%;
  display: none;
}
.closeBar,
.openBar {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
}

.nav_bar,
.nav-list,
.menu-list,
.nav-icon,
.nav_content {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav_bar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(35px);
}
.logo {
  width: 15%;
}
.nav_content {
  width: 85%;
  height: auto;
}
.nav-list {
  width: 100%;
  justify-content: space-around;
}

.menu-list {
  width: 60%;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 600;
  padding: 0 5%;
}
.menu-list li {
  width: 100%;
  padding: 15px 0;
}

.menu-list li:hover {
  background-color: rgba(255, 255, 255, 0.308);
}
.menu-list li:hover a {
  color: wheat;
}

.nav-icon {
  width: 40%;
  justify-content: space-around;
  padding-left:20%;
}
.nav-icon li:hover a {
  color: wheat;
}

.none {
  display: none;
}
.changeBar {
  transform: translateX(110%);
}
/* @media screen and (max-width: 576px) {
  .nav-list {
    width: 100%;
    z-index: 10;
  }
  .closeBar {
    z-index: 1000;
  }
  .menu-list{
    padding: 10px 0;
  }
  li {
    margin: 5px;
  }
} */
/* .navbar-nav{background-color: blue;} */
@media screen and (max-width: 768px) {
  .nav_bar {
    display: block;
    background: none;
    padding: 0;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(35px);
    align-items: center;
  }
  .logo img{
    width: 70%;
  }
  /* .btn_navbar {
    display: block;
    width: 40%;
    height: auto;
  } */
  .nav-list,
  .menu-list {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .menu-list li {
    
    font-size: 16px;
  }

  .nav-list {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: fixed;
    right: 0;
    top: 100%;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(35px);
  }
  .nav-icon {
    width: 100%;
    padding: 10px 50%;
  }
  .nav-icon li {
    padding: 0 5px;
  }
  .closeBar {
    color: black;
  }
  .closeBar:hover {
    color: red;
  }
}
